<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title> ExxtremeBattler // Web Developer</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-red">
    
    <a class="navbar-brand" href="#">ExxtremeBattler!</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="#aboutMe"> Skills <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="#myWork"> Work <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="#contactMe"> About/Contact Me <span class="sr-only">(current)</span></a>
        </li>
      
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Welcome to the fight! </h1>
    <p class="lead"> ExxtremeBattler <img src="./images/hunter.jpg" alt="ExxtremeBattler's current avatar"> 
      is currently learning: Bootstrap! </p>
  </div>

  <main class="page-wrapper">
    <!-- about me -->
    <section class="page-section about" id="aboutMe">

      <h2 class="AM-heading">Skills </h2>

      <p> <div class="vertical"> An apsiring Front-End Web Developer who loves challenging himself with new projects, skills, and quests. 
        <br> Proficient in: <br>
        - HTML <br>
        - CSS <br>
        - JavaScript <br>
        - Java <br>
        - SQL <br> 
        - React</div> </p>
      
    
    </section> 

    <!-- portfolio container -->
    <section class="page-section work " id="myWork">

      <h2>Work </h2>
      
      <div class="vertical"> </div>
      <section id="projectGrid">

        <div id="project1" class="projectGridArea">
          
          
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> Prework Study Guide</h5>
                <p class="card-text"> A prework study guide designed for bootcamp. Click image to visit! </p>
              </div>
              <a href="https://exxtremebattler.github.io/prework-study-guide/"> 
                <img src="./images/pwsg.png" > </a>
            </div>
        
        
        </div>
        
        <div id="project5" class="projectGridArea">
          <div class="card">
            <img src="./images/02-portfolio-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Project 2</h5>
              <p class="card-text">desc</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
        
        </div>
        
        <div id="project2" class="projectGridArea">
          
          <div class="card">
            <img src="./images/02-portfolio-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 3</h5>
              <p class="card-text">desc</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        
        </div>
        
        <div id="project3" class="projectGridArea">
          
          <div class="card">
            <img src="./images/02-portfolio-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 4</h5>
              <p class="card-text">desc</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        
        </div>
        
        <div id="project4" class="projectGridArea">
          
          <div class="card">
            <img src="./images/02-portfolio-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 5</h5>
              <p class="card-text">desc</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        
        </div>
      
      </section>

      
    </section>

    <!-- contact -->
    <section class="page-section contact" id="contactMe">
      
      <h2>About / <br> Contact Me </h2> 

      <p> <div class="vertical"> A current bootcamp student learning Front-End Development. <br>
        Email: myemail123@email.com <br> GitHub:ExxtremeBattler </div> </p>
      
    </section>
  
  </main>

  <div class="footer">
    <footer>
      <p>Author: Gabriel F. </p>
      <p>2023</p>
    </footer>
</div>



</body>

</html>