body{
    background-image: url(../images/pexels-soumil-kumar-735911\ \(1\).jpg);
    background-repeat: no-repeat;
    
}

.sidebar{
    background-color: rgba(10, 6, 83, 0.3);
    border-color: black;
    border-radius: 25px;
    border-style:outset;
    width: max-content;
    height: 630px;
}